.App {
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 20px;
  padding: 10px;
  color: white;
}

.Title {
  text-align: left;
  padding-left: 10px;
  display: inline-block;
  
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.open-order-card { border: 1px; padding: 10px; }

.menu-option { margin-left: 30px;display: inline-block; cursor: pointer; background-color: #333; padding: 3px; border-radius: 3px; }