body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #DDDDDD
}

.header {
  background-color:#CCC;
  height: 60px;
  margin-bottom: 15px;
}

.header-options {
  width: 400px;
  padding: 15px;
  
}

.header-menu {
  float: right;
  width: 400px;

}

.header-menu .card {
  float: right;
}

.customer-name input {
  font-size: 20px;
  
}
.paid-date input {
  font-size: 20px; width: 400px;
}
.paid-date button {
  font-size: 20px;
  margin-left: 10px;
}
.start-new-order button {
  font-size: 20px;
  margin-left: 10px;
}
.open-orders {
  margin: 10px;  
}

.open-order-card .time {
  font-size: 11px;
  color: darkblue;
  margin-top: 5px;
}
.open-order-card .customer-name {  
  color: darkblue;
  margin-bottom: 5px;
}
.card {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px; 
  margin: 10px;
  background-color: lightblue;
  float: left;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
}

.quiet-card {
  background-color: #888;
  color: #444;
}
.wide-card {
  width: 100px;
}
.small-card {
  padding: 5px;
  margin: 5px;
  font-size: 13px;
}

.danger-card { 
  background-color: darkred;
  color: #DDDDDD;
}
.order .right-side {
  width: 300px;
  background-color: #BBBBBB;
  float: right;
  padding: 10px;
}

.back-button-card {
  background-color: blueviolet;
  color: white; 
}
.order-items table { width: 100%; border-collapse: collapse; text-align: right; }
.order-items table tbody td { height: 30px; }

.order-items table tfoot th { height: 30px; }
.order-items table tfoot td { width: 75px; }
.order-items table tfoot tr.divider td { border-top: 2px solid black; }
.order-items table tfoot tr.divider th { border-top: 2px solid black; }

.product-card {
  background-color: goldenrod;
  
}
.tag-card {
  background-color: cornflowerblue;
  color: white;
}
.tags {

}

.products {

}

.order-items {
}

.order-header {
  background-color: #CCC;
  padding: 15px;
  height: 40px;
}
.order-header .customer-name {
  font-size: 30px;
}
.order-actions{
  float: right;
}
.save-button-card{
  background-color: darkblue;
  color: white;

  margin-top: 0px;
  margin-bottom: 0px;
}
.pay-button-card{
  background-color: green;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}
.remove-button-card{
  background-color: darkred;
  color: white;

  margin-top: 0px;
  margin-bottom: 0px;
}

table.order-list {
  width: 100%;
}

.valid { color: darkgreen; }
.invalid {color: darkred;}

table.admin-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

table.admin-table thead th {
  background-color: #BBBBBB;
  padding: 5px 0 5px 0;
}

.discounts { clear: left; margin-left: 5px;}
.card-discount { background-color: #CCC;}

.no-float { clear:both;}