.lds-facebook {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 5px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 0px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 7px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 14px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 0px;
    height: 20px;
  }
  50%, 100% {
    top: 10px;
    height: 2px;
  }
}